<!-- <div class="input-group mt-20">
    <label class="input-group-text justify-content-center" for="inputGroupSelect01">Models</label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Choose a model to use:</option>
      <option value="1">LSTM</option>
      <option value="2">BERT</option>
    </select>
</div> -->
<section id="predict" class="min-vh-100 m-4">
    <div class="container mt-50"> 
        <div class="row justify-content-center px-0">
            <div class="col-12 col-lg-8">
                <textarea class="form-control" id="user-input" placeholder="Enter your text here." style="height: 500px; width: 100%;"></textarea>
            </div>
            <div class="col-12 col-lg-8 mt-3 text-right">
                <button class="btn btn-primary btn-lg px-3 py-2 float-lg-right" id="summarize-btn">
                    <span class="submit-btn">Predict</span>
                </button>
            </div>
        </div>
    </div>
</section>




